.box{width:100px;height:100px;background:#ff5722;margin:50px auto;border-radius:50%;}
.red{background:#f44336}
p{text-align:center;}

@keyframes scaleme{0%{transform:scale(0.5)}100%{transform:scale(1.5)}}

.circle{animation:scaleme 5s ease-in-out 5}
.circle:hover{animation-play-state:paused}